.desc {
	font-style: italic;
	font-size: larger;
	text-align: center;
}
h1 {
	text-align: center;
	margin-bottom: 5%;
}
img {
	border-radius: 70px 0 70px 0;
}
.rig {
	margin: 20px 120px 20px 20px;
}
.near {
	font-size: 25px;
	text-align: justify;
	margin: 0 10% 20px 10%;
}
.colored {
	background-color: bisque;
}
.after {
	font-size: 22px;
	text-align: justify;
	margin: 0 10% 0 10%;
}
main {
	margin: 0 13% 20px 13%;
	text-align: justify;
	font-size: 20px;
}
footer {
	text-align: center;
	font-style: italic;
}
.bigger {
	font-size: 22px;
	font-weight: 600;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
